alter table profiles
add column if not exists contact_no text,
add column if not exists grade_level text,
add column if not exists date_of_birth text;

-- Allow users to insert notifications for themselves
create policy "Users can insert own notifications"
on notifications
for insert
with check (auth.uid() = user_id);

-- Allow users to view their own notifications (optional, but recommended)
create policy "Users can view own notifications"
on notifications
for select
using (auth.uid() = user_id);
